html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
}

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('./fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}

@font-face {
  font-family: 'Archivo';
  src: url('./fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf') format('truetype');
  /* Add more font formats if necessary */
}
h1, h2, h3, h4, h5, h6, label {
  margin: 0;
}
